body {
  font-family: Inconsolata, Helvetica;
  font-size: 20pt;
}

a {
  color: black;
}

a:visited {
  color: black;
}

ul {
  margin-bottom: 20px;
}

li {
  margin-bottom: 6px;
}

.container {
  margin: 30px;
  width: 80%;
}

.name {
  margin-bottom: 5px;
}

.title {
  margin-bottom: 40px;
  color: gray;
}

.links {
  display: none;
}

.blurb {
  margin-bottom: 40px;
  line-height: 120%;
}


.listTitle {
  font-weight: bold;
}

.contact {
  margin-top: 80px;
}

/* Media Queries */
/* Desktop */
@media screen and (min-device-width: 768px) {
  body {
    font-size: 10pt;
  }

  ul {
    margin-bottom: 20px;
  }

  li {
    margin-bottom: 6px;
  }

  .container {
    margin: 30px;
    width: 450px;
  }

  .links {
    display: block;
    width: 100%;
    margin: 30px 0;
  }

  .name {
    margin-bottom: 5px;
  }

  .title {
    margin-bottom: 20px;
    color: gray;
  }

  .blurb {
    margin-bottom: 20px;
    line-height: 120%;
  }

  .listTitle {
    font-weight: bold;
  }

  .contact {
    margin-top: 30px;
  }
}
